.pricingTable {
  border: 1px solid #ddd;
  text-align: center;
  color: #333;
  padding: 50px 0 25px;
  margin-top: 30px;
  position: relative;
}

.pricingTable .pricing-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  top: -40px;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  transition: all 0.5s ease 0s;
}

.pricingTable:hover .pricing-icon {
  border: 1px solid #f26547;
  background: #f26547;
}

.pricingTable .pricing-icon i {
  width: 100%;
  height: 100%;
  line-height: 58px;
  border-radius: 50%;
  background: #f26547;
  font-size: 30px;
  color: #fff;
  transition: all 0.5s ease 0s;
}

.pricingTable:hover .pricing-icon i {
  color: #f26547;
  background: #fff;
}

.pricingTable .price-value {
  display: inline-block;
  font-size: 60px;
  color: #494949;
  position: relative;
}

.pricingTable .currency {
  font-size: 25px;
  position: absolute;
  top: 18px;
  left: -18px;
}

.pricingTable .month {
  display: block;
  font-size: 17px;
  text-transform: capitalize;
}

.pricingTable .pricingHeader {
  position: relative;
  z-index: 1;
}

.pricingTable .pricingHeader:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ddd;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

.pricingTable .title {
  width: 50%;
  background: #f26547;
  margin: 10px auto;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.pricingTable .pricingTable-signup {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background: #f26547;
  border: 1px solid #f26547;
  padding: 5px 20px;
  transition: all 0.5s ease 0s;
}

.pricingTable .pricingTable-signup:hover {
  background: #fff;
  color: #f26547;
  text-decoration: none;
}

@media only screen and (max-width:990px) {
  .pricingTable {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width:767px) {
  .pricingTable {
    margin-bottom: 60px;
  }
}

