.instaimg {
  opacity: 1;
  transition: opacity .10s ease-out;
  margin-bottom: 20px;
  transition: transform .2s;
}

.instaimg:hover {
  opacity: .8;
  transform: scale(1.1);
}

.squareLook {
  display: block;
  position: relative;
  height: 200px;
  overflow: hidden;
}

